<div class="card">
   <div class="card-title">
   </div> 
  <div class="card-body">
     <div class="form-group">
         <h1> Title for Blog Post!</h1>
         <input id="blogTitle"></input>
         <hr>
    <label for="exampleFormControlTextarea1">
        <h1>Post your thoughts here!!</h1></label>
    <textarea class="form-control m-3" id="blogBody" rows="3"></textarea>
  </div>
</form>
<button  type="button"  class="btn btn-primary" id="saveBtn" >Save</button>
  </div>
</div>

<script>
    $('#saveBtn').on('click', function (){
        console.log($('#blogBody').val())   
        fetch('/saveBlog', {
            method: 'POST',
            body: JSON.stringify({title: $('#blogTitle').val(), body: $('#blogBody').val() }),
            headers: { 'Content-Type': 'application/json' },
        }).then(function() {
            console.log('.then of fetch!!')
         
        })
    })
</script>