<h1> Welcome to your TechBlog,  {{username}} !</h1>
<div>
    <p>To create a new blog press the new blog button. To view all of your blogs click the view all button</p>

    <button type="button" class="btn btn-primary" id="newBlog">New Blog Post</button>
    <button type="button" class="btn btn-warning" id="allBlogs">All Blog Posts</button>
</div>

<script src="./js/blogSelect.js"></script>