<h1> Welcome to your TechBlog {{username}}</h1>
<div>
    <p>To create a new blog press the new blog button</p>
    <p>To view all of your blogs click the view all button</p>

    <button class="btn primary" id="newBlog">New Blog Post</button>
    <button class="btn warning" id="allBlogs">All Blog Posts</button>
</div>

<script>
    
</script>